@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

// Стили для шапки
.header-wrapper {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('/background/bgo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(659px, 70vw, 720px);

  &__section {
    max-width: 1110px;
    width: 100%;

    @media screen and (max-width: 1024px) {
      padding: 16px;
    }
  }
  @media screen and (max-width: 1024px) {
    background-position: center;
    overflow-x: clip;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 77px;
    display: flex;
    gap: 12.29px;
    align-items: flex-end;
    padding-bottom: 3px;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      align-items: center;
    }
    @media screen and (max-width: 767px) {
      width: 123px;
      height: 42px;
      padding-bottom: 6px;
      padding-left: 2px;
    }
  }

  .navigation {
    height: 77px;

    &__list {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      height: 77px;

      display: flex;
      gap: 32px;
      align-items: center;
      @media screen and (max-width: 1024px) {
        // height: 42px;
      }
    }


    &__item {
      display: flex;
      gap: 8px;
      color: #5895F0;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .burger {
    display: none;
    @media screen and (max-width: 767px) {
      img {
        margin: 4px 5px;
      }
      display: block;
    }
  }
  .navigation-mobile {
    // position: fixed;
    // inset: 0 0 0 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background: rgba(16, 21, 44, 0.90);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close-mobile__icon {
      position: absolute;
      right: 32px;
      top: 32px;
    }
    &__list {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      display: flex;
      gap: 32px;
      align-items: center;
      flex-direction: column;
      height: 226px;
      margin-top: -80px;
    }


    &__item {
      display: flex;
      gap: 8px;
      color: #5895F0;
    }
  }
}

// Стили для вводного раздела
.intro {
  margin-top: 98px;

  &__description {
    width: 540px;

    h1 {
      font-size: 48px;
      font-weight: 500;
      line-height: 132%;
    }

    p {
      width: 470px;
      margin-top: 16px;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
    }

    @media screen and (max-width: 1024px) {
      width: clamp(340px, 40vw, 500px);
    
      h1 {
        font-size: 28px;
        width: clamp(340px, 40vw, 500px);
        line-height: 120%;
      }
      p {
        font-size: 16px;
        width: clamp(325px, 40vw, 500px);
        margin-top: 10px;
        line-height: 28px;
      }
    }
  }

  &__button {
    margin-top: 42px;
    display: flex;
    gap: 16px;
    align-items: center;

    padding: 14px 19px 16px 32px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);

    span {
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 32px;
      padding: 12px 22px 12px 24px;
      width: 205px;
      height: 58px;

      span {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 42px;
  }
}

.header-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 798px;
  height: 541px;
  @media screen and (max-width: 1024px) {
    height: auto;
    width: calc(100% - 275px);
  }
  @media screen and (max-width: 425px) {
    height: auto;
    width: auto;
    display: none;
  }
}

.header-img-mobile {
  position: absolute;
  bottom: 0px;
  right: 3px;
  width: 798px;
  height: 541px;
  display: none;

  @media screen and (max-width: 1024px) {
    height: auto;
    width: calc(100% - 275px);
  }
  @media screen and (max-width: 425px) {
    height: auto;
    display: block;
    min-width: 358px;
  }
}
.modal-open {
  overflow: hidden;
}

.dots {
  position: absolute;
  top: 124px;
  right: 24px;
  width: 148px;
  height: 135px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.dotsm {
  position: absolute;
  top: 124px;
  right: 24px;
  width: 148px;
  height: 135px;
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    bottom: 33%;
    top: auto;
    right: 30px;
    width: 84px;
    height: 85px;
  }
}


// Стили для раздела статистики
.statistics {
  width: 990px;
  border-radius: 8px;
  padding: 42px 100px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -149px;

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__lists {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__items {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__item:nth-child(1):after {
    content: "_";
    gap: 0;
    right: 0;
    top: -35px;
    left: 182px;
    height: 29px; 
    background-color: rgba(136, 136, 136, 0.75);
    position: relative;
    display: inline-block;
    width: 1px; /* Расположение линии */
  }
  &__item:nth-child(2):after {
    content: "_";
    gap: 0;
    right: 0;
    top: -54px;
    left: 233px;
    height: 29px; 
    background-color: rgba(136, 136, 136, 0.75);
    position: relative;
    display: inline-block;
    width: 1px; /* Расположение линии */
  }
  &__items:nth-child(1):after {
    display: none;
  }
  &__items:nth-child(2):after {
    display: none;
  }


  &__title {
    color: rgb(16, 21, 44);
    font-size: 20px;
    font-weight: 600;
    line-height: 26.25px;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__description {
    color: rgb(130, 130, 130);
    font-size: 12px;
    font-weight: 400;
    line-height: 17.25px;
    @media screen and (max-width: 1024px) {
      font-size: 11px;
      line-height: auto;
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 12px 16px 24px 16px;
    width: clamp(328px, 35vw, 360px);
    bottom: -178px;
    z-index: 2;
    height: 207px;

    &__list {
      flex-direction: column;
      gap: 24px;
    }
    &__lists {
      flex-direction: column;
      gap: 6px;
    }
    &__item {
      max-width: 100%;
      gap: 0;
      height: 41px;
    }
    &__items {
      max-width: 100%;
      gap: 0;
      height: 41px;
    }
    &__item:nth-child(1):after {
      content: "_";
      gap: 0;
      height: 1px; 
      background-color: rgba(136, 136, 136, 0.75);
      position: relative;
      display: inline-block;
      // top: 7px; /* Расположение линии */
    }
    &__item:nth-child(2):after {
      content: "_";
      gap: 0;
      height: 1px; 
      background-color: rgba(136, 136, 136, 0.75);
      position: relative;
      display: inline-block;
      top: 7px; /* Расположение линии */
    }
    &__items:nth-child(1):after {
      display: none;
    }
    &__items:nth-child(2):after {
      display: none;
    }
  }
}

// Стили для раздела партнеров
.trade-partners {
  background-color: rgb(255, 255, 255);
  margin: 214px 0 283px 0;
  display: flex;
  justify-content: center;
  gap: 80px;

  header {
    position: relative;
    padding-left: 15px;
    width: 353px;

    h2 {
      color: rgb(16, 21, 44);
      font-size: 32px;
      font-weight: 600;
      line-height: 144%;
    }

    p {
      color: rgb(16, 21, 44);
      font-size: 24px;
      font-weight: 400;
      line-height: 144%;
      padding-top: 13px;
    }

    .pattern {
      position: absolute;
      top: -141px;
      left: -304px;
      max-width: none;
    }

    .about-us {
      position: absolute;
      bottom: -224px;
      left: -284px;
      max-width: none;
      width: 1085px;
      height: 157px;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .mobile-about-us {
      position: absolute;
      display: none;
      bottom: -224px;
      left: -284px;
      max-width: none;
      width: 1085px;
      height: 98px;

      @media screen and (max-width: 1024px) {
        display: block;
        overflow: hidden;
        background-color: #fff;
        width: auto;
        left: 0;
        bottom: -20px;
        top: 180px;

        .about-us-mobile {
          width: 357px;
          height: 145px;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      padding-left: 13px;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
        padding-right: 16px;
        padding-top: 12px;
      }
      .pattern {
        left: -180px;
        top: -160px
      }
    }
  }

  .simple-blue-block {
    width: 134px;
    height: 16px;
    margin-top: 50px;
    background: rgb(48, 116, 218);
    @media screen and (max-width: 1024px) {
      margin: 24px 16px 0 auto;
    }
  }

  &__list {
    padding-right: 15px;
    width: clamp(360px, 40vw, 517px);
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media screen and (max-width: 1024px) {
      margin: 45px 0 0 0;
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    gap: 32px;

    span {
      color: rgb(222, 222, 222);
      font-size: 32px;
      font-weight: 600;
      line-height: 144%;
    }

    p {
      width: 445px;
      color: rgb(16, 21, 44);
      opacity: 0.6;
      font-size: 16px;
      font-weight: 400;
      line-height: 164%;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      max-width: 360px;
      gap: 4px;
      padding: 0 16px;
      
      p {
        width: 328px;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    margin: 234px 0 56px 0;
  }
}

.partners {
  background: rgb(48, 116, 218);

  display: flex;
  justify-content: center;
  gap: 30px;

  .partner__img {
    max-width: 90px;
    height: auto;
  }

  header {
    margin-top: 82px;
    margin-bottom: 192px;
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      color: rgb(255, 255, 255);
      font-size: 42px;
      font-weight: 800;
      line-height: 132%;
      text-transform: uppercase;
    }

    p {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 164%;
    }
    @media screen and (max-width: 1024px) {
      margin: 30px auto 20px;
      padding: 0 16px;

      h2 {
        font-size: 40px;
        text-transform: uppercase;
      }
    }
  }

  &__list {
    margin-top: 64px;
    margin-bottom: 72px;
    max-width: 730px;
    min-width: 730px;
    min-height: 384px;
    display: flex;
    gap: 32px 30px;
    flex-wrap: wrap;
    
  
    @media screen and (max-width: 1024px) {
      display: grid;
      margin: 0 auto;
      min-width: auto;
      min-height: 384px;
      gap: 8px;
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 767px) {
      // display: flex;
      display: grid;
      grid-template-columns: repeat(2, 160px);
      max-width: 328px;
      margin: 0 auto;
      min-height: auto;
      gap: 8px;
      width: 100%;
      // justify-content: center;
    }
  }
  // .wr {
  //   margin: 0 auto;
  //   max-width: 328px;
  //   gap: 8px;
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 90px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin-top: -2px;
    @media screen and (max-width: 1024px) {
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 20px;
    gap: 20px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 10px;
    padding:0 0 30px;
    margin-top: 0px;
  }
}

// Стили для раздела услуг
.services {
  overflow-x: clip;

  .services__container {
    max-width: 1440px;
    width: 100%;
    margin: 49px auto 0 165px;
    @media screen and (max-width: 1024px) {
      margin: 55px auto;
    }
  }
  header {
    width: clamp(328px, 70vw, 1015px);
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-left: 95px;

    .label {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h2 {
        color: rgb(16, 21, 44);
        font-size: 32px;
        font-weight: 600;
        line-height: 144%;
        @media screen and (max-width: 1024px) {
          font-size: 24px;
        }
      }

      p {
        color: rgb(16, 21, 44);
        opacity: 0.6;
        font-size: 16px;
        font-weight: 400;
        line-height: 164%;
      }
      @media screen and (max-width: 1024px) {
        gap: 12px;
      }
    }

    .arrows {
      margin-top: 25px;
      display: flex;
      align-items: center;
      gap: 12px;

      &-left,
      &-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 42px;
        cursor: pointer;

        &:disabled {
          pointer-events: none;
          background-color: rgba(229, 229, 229, 0.75);
        }
      }

      &-left {
        border: 2px solid rgb(48, 116, 218);
      }

      &-right {
        background: rgb(48, 116, 218);
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      margin: 0;
      padding-left: 0px;
    }
  }

  &__list {
    margin-top: 48px;
    display: flex;
    gap: 30px;
    overflow: hidden;
    max-width: 100%;
  }

  &__item {
    min-width: 826px;
    max-width: 826px;
    height: 420px;
    border-radius: 12px;
    padding-right: 32px;
    display: flex;
    gap: 42px;
    box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.02), 0px 73px 73px 0px rgba(0, 0, 0, 0.02), 0px 163px 98px 0px rgba(0, 0, 0, 0.01), 0px 290px 116px 0px rgba(0, 0, 0, 0), 0px 454px 127px 0px rgba(0, 0, 0, 0);
    transition: width 0.5s ease;
    .img-slide {
      border-radius: 12px 0 0 12px;
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      display: flex;
      min-width: 328px;
      max-width: 328px;
      height: 620px;
      gap: 12px;
      padding-right: 0;
  
      .img-slide {
        width: 328px;
        height: 220px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .service {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 42px;

    &__title {
      color: rgb(16, 21, 44);
      font-size: 28px;
      font-weight: 600;
      line-height: 144%;

      @media screen and (max-width: 1024px) {
        font-size: 24px;
      }
    }

    &__description {
      margin-top: 12px;
      color: rgb(16, 21, 44);
      opacity: 0.6;
      font-size: 16px;
      font-weight: 400;
      line-height: 164%;

      @media screen and (max-width: 1024px) {
        font-size: 14px;
        margin-top: 16px;
      }
    }
    &__description2 {
      margin-top: 24px;
      color: rgb(16, 21, 44);
      opacity: 0.6;
      font-size: 16px;
      font-weight: 400;
      line-height: 164%;

      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }

    &__details {
      margin-top: 24px;
      display: flex;
      gap: 12px;
      flex-direction: column;
      @media screen and (max-width: 1024px) {
        margin-top: 16px;
      }
    }

    &__detail {
      display: flex;
      gap: 16px;

      span {
        color: rgb(16, 21, 44);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    @media screen and (max-width: 1024px) {
      padding: 0 11px;
    }
  }

  // Styles for slide dots
  &__dots {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .dot {
      width: 8px;
      display: inline-block;
      height: 8px;
      background-color: #5895F0;
      border-radius: 50%;
      span {
        display: none;
      }
    
      &.active {
        background-color: #5895F0;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: block;
          width: 8px;
          display: inline-block;
          height: 8px;
          background-color: #ffffff;
          border-radius: 50%;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      // justify-content: flex-start;
      width: clamp(328px, 70vw, 100%);
    }
  }
  @media screen and (max-width: 1024px) {
    margin-left: 0;
    padding: 0 16px;
    margin-top: 57px;
  }
}

//
.embla {
  max-width: 69rem;
  // margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
  position: relative;
}
.embla__viewport {
  // overflow: hidden;
  padding-top: 45px;
  @media screen and (max-width: 1024px) {
    padding-top: 23px;
  }
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  gap: 30px;
  margin-left: 1px;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla__controls {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
  @media screen and (max-width: 1024px) {
    margin-top: 1.5rem;
  }
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 13px auto;

  .embla__dot {
    width: 8px;
    height: 8px;
    background-color: #5895F0;
    border-radius: 50%;

    span {
      display: none;
    }
  
    &.embla__dot--selected {
      background-color: #5895F0;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: block;
        width: 8px;
        height: 8px;
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: clamp(328px, 70vw, 100%);
    justify-content: flex-start;
    margin: 0;
  }
}

// Стили для контактной секции
.contact {
  margin-top: 56px;
  background-image: url("/background/mapo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 663px;

  &-block {
    margin-left: 162px;

    position: relative;
    margin-top: 74px;
    border-radius: 12px;
    padding: 32px 42px 50px 45px;

    background: rgb(255, 255, 255);
    display: inline-block;

    h2 {
      color: rgb(16, 21, 44);
      font-size: 32px;
      font-weight: 600;
      line-height: 144%;
    }

    .bg-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      @media screen and (max-width: 1024px) {
        z-index: -1;
      }
    }

    .bg-top {
      position: absolute;
      top: 0;
      right: 0;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      margin: 0 auto;
      padding: 20px 16px 24px;
      border: 1px solid #e7e7e7;
      width: clamp(328px, 45vw, 540px);
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 24px;
      }
    }
  }

  &__info {
    display: flex;
    gap: 77px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      gap: 10px;
      padding-bottom: 0px;
      flex-direction: column;
      margin: 24px auto;
    }
  }

  address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 49px;

    p {
      width: 240px;
      margin-top: 32px;
      color: rgb(16, 21, 44);
      font-size: 14px;
      font-weight: 500;
      line-height: 172%;
      @media screen and (max-width: 1024px) {
        margin-top: 0;
      }
    }

    .social-network {
      display: flex;
      gap: 12px;
      padding-top: 17px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 0;
      .social-network {
        padding-top: 0;
      }
    }
  }

  &__email,
  &__phone {
    display: flex;
    gap: 16px;

    color: rgb(16, 21, 44);
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
  }


  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    gap: 14px;
    @media screen and (max-width: 1024px) {
      margin-top: 12px;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
  }

  &__input {
    border: none;
    width: clamp(296px, 30vw, 328px);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    height: 24px;
  }

  &__textarea {
    border: none;
    width: clamp(296px, 30vw, 328px);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    min-height: 86px;
    @media screen and (max-width: 1024px) {
      min-height: auto;
    }
  }

  &__button {
    width: clamp(296px, 30vw, 328px);
    height: 62px;
    border-radius: 8px;
    background: rgb(48, 116, 218);

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    @media screen and (max-width: 1024px) {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 1024px) {
    margin: 56px 0 0;
    padding: 0 16px 0;
    height: 833px;
    background-position: right bottom;
  }
}

// Стили для подвала
.footer {
  background: rgb(16, 21, 44);
  height: 286px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .social-network {
    display: flex;
    gap: 16px;
    padding-top: 0px;
  }
  @media screen and (max-width: 1024px) {
    height: 419px;
    padding: 0 24px;
    align-items: flex-start;
  }

  &__logo {
    margin-top: 52px;
    @media screen and (max-width: 1024px) {
      margin-top: 24px;
    }
  }

  .footer__navigation {
    margin-top: 32px;
    display: flex;
    gap: 32px;

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    &__item {
      display: flex;
      gap: 8px;
      color: #5895F0;
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      margin-top: 24px;
      gap: 16px;
    }
  }

  &__bottom {
    margin-top: 48px;
    padding-top: 25px;
    width: clamp(328px, 80vw, 1110px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    display: flex;
    justify-content: space-between;

    p {
      color: rgb(217, 219, 225);
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      margin-top: 20px;
      p {
        padding-top: 25px;
        max-width: 210px;
      }
    }
  }
}



.arrows {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: -81px;
  z-index: 2;
  right: -1%;

  &-left,
  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 42px;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      background-color: rgba(229, 229, 229, 0.75);
    }
  }

  &-left {
    border: 2px solid rgb(48, 116, 218);
  }

  &-right {
    background: rgb(48, 116, 218);
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}